<html>
  <head>
    <title>Login | Meal Prep Assistant</title>
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <section class="login__container">
      <form class="login__form" action="/auth/register" method="POST">
        <h3>Register</h3>
        <hr />
        <label for="email">Email</label>
        <input type="email" name="email" />
        <label for="username">Username</label>
        <input type="username" name="username" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <label for="confirm-password">Confirm Password</label>
        <input type="confirm-password" name="confirm_password" />
        <button type="submit" class="login__button">
          Register
        </button>
      </form>
    </section>
  </body>
</html>
