<html>
  <head>
    <title>Create Meal Plan | Meal Prep Assistant</title>
    <link rel="stylesheet" href="../styles/create.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a href="all-meal-plans.html"><li>My Meal Plans</li></a>
          <a href="login.html"><li>Logout</li></a>
        </ul>
      </nav>
    </header>
    <section class="create__container">
      <form>
        <h1>Create Meal Plan</h1>
        
        <h3>Select your diet:</h3>
        <section class="create__form-options">
        <ul >
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="gluten-free"><label>Gluten Free</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="ketogenic"><label>Ketogenic</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="vegetarian"><label>Vegetarian</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="lacto-vegetarian"><label>Lacto-vegetarian</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="ovo-vegetarian"><label>Ovo-vegetarian</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="vegan"><label>Vegan</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="pescetarian"><label>Pescetarian</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="paleo"><label>Paleo</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="primal"><label>Primal</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="low-FODMAP"><label>Low FODMAP</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="whole30"><label>Whole30</label></input></li>

        </ul></section>
        <h3>Select any intolerances/allergens:</h3>
        <section class="create__form-options">
        <ul >
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="dairy"><label>Dairy</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="peanut"><label>Peanut</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="soy"><label>Soy</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="egg"><label>Egg</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="seafood"><label>Seafood</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="sulfite"><label>Sulfite</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="gluten"><label>Gluten</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="sesame"><label>Sesame</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="tree-nut"><label>Tree Nut</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="grain"><label>Grain</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="shellfish"><label>Shellfish</label></input></li>
        <li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="wheat"><label>Wheat</label></input></li>
        </ul></section>
        <button type="submit" class="create__button">Generate Meal Plan</button>
        <!-- TO DO: add validation using JS to ensure that the user chooses at least one checkbox 
        https://html.form.guide/checkbox/html-form-checkbox-required/
         -->
         </ul>
      </form>
    </section>
  </body>
</html>
