<html>
  <head>
    <title>Login | Meal Prep Assistant</title>
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <section class="login__container">
      <form class="login__form">
        <h3>Login</h3>
        <hr />
        <label for="login--email">Email</label>
        <input type="email" name="login--email" required />
        <label for="login--password">Password</label>
        <input type="password" name="login--password" required />
        <button type="submit" class="login__button">
          <a href="create.html">Login</a>
        </button>
      </form>
    </section>
  </body>
</html>
