<html>
  <head>
    <title>Create Meal Plan | Meal Prep Assistant</title>
    <link rel="stylesheet" href="/styles/create.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a ><li>My Meal Plans</li></a>
          <a href="/"><li>Logout</li></a>
          <!-- TO DO: Add navigation to the right pages -->
        </ul>
      </nav>
    </header>
    <section class="create__container">
      <form id="generateMealPlan" onsubmit="submitForm()">
        <h1>Create Meal Plan</h1>
        <p id="errorContainer" style="display: none; color: red;">
        Please select at least one diet and one intolerance/allergen.
        </p>
        <h3>Select your diet:</h3>
        <section class="create__form-options" id="preferenceList"></section>

        <h3>Select any intolerances/allergens:</h3>
        <section class="create__form-options" id="intoleranceList"></section>

        <button type="submit" class="create__button">Generate Meal Plan</button>
        <!-- TO DO: add validation using JS to ensure that the user chooses at least one checkbox 
        https://html.form.guide/checkbox/html-form-checkbox-required/
         -->
         </ul>
      </form>
      <script>
        // Populate intolerances is called in populatePreferences because of timing
        populatePreferences();

        async function sendGenerateMealPlanRequest(diet, intolerance, email) { 
          //TO DO: Use the passed params to do stuff:
          console.log("Running generate funciton");
          try { 
            const config = { headers: { 'Content-Type': 'application/json' } };
            
            const saveDiet = await axios.post('http://localhost:8080/api/v1/addPreference', { }, config);
            const saveIntolerance = await axios.post('http://localhost:8080/api/v1/addIntolerance', { }, config);
            const response = await axios.post('http://localhost:8080/api/v1/generateMealPlan', {  }, config); 
            if(response.data.redirectPath) {
              location.href = response.data.redirectPath;
            }
          } catch (error) { 
            alert(error)
            console.error(error); 
          } 
        };        

        async function populatePreferences(){
          console.log("Running populate preference list");
          const pref = document.getElementById('preferenceList');
          const preferenceList = await axios.get('/api/v1/getAllPreferences');
          let list = "<ul>";
          for(let i=0; i<preferenceList.data.user_preferences.length; i++){
            list += `<li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="` + preferenceList.data.user_preferences[i][0].value + `">` + preferenceList.data.user_preferences[i][0].value + "</li>";
          }

          list += "</ul>";
          console.log(list);
          pref.innerHTML = list;

          populateIntolerances()
        };

        async function populateIntolerances(){
          console.log("Running populate intolerance list");
          const intol = document.getElementById('intoleranceList');
          const intoleranceList = await axios.get('/api/v1/getAllIntolerances');
          let list = "<ul>";
          for(let i=0; i<intoleranceList.data.user_intolerances.length; i++){
            list += `<li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="` + intoleranceList.data.user_intolerances[i][0].value + `">` + intoleranceList.data.user_intolerances[i][0].value + "</li>";
          }

          list += "</ul>";
          console.log(list);
          intol.innerHTML = list;
        };

        function submitForm(){
          console.log("Submitting form")
          const form = document.getElementById('myForm');
          const errorContainer = document.getElementById('errorContainer');

          form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission

          // Check if at least one radio button is selected
          const radioButtons = document.getElementsByName('diet');
          let selectedRadioButtonValue = '';
          for (let i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
              selectedRadioButtonValue = radioButtons[i].value;
              break;
            }
          }

          // Check if at least one checkbox is selected
          const checkboxes = document.querySelectorAll('input[type="checkbox"]');
          let selectedCheckboxValues = [];
          for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
              selectedCheckboxValues.push(checkboxes[i].value);
              break;
            }
          }

          if (isRadioButtonSelected && isCheckboxSelected) {
            sendGenerateMealPlanRequest(selectedRadioButtonValue, selectedCheckboxValues)
          } else {
            // Show validation error message
            errorContainer.style.display = 'block';
          }
        });
        }
      </script>
    </section>
  </body>
</html>
