<html>
  <head>
    <title>Create Meal Plan | Meal Prep Assistant</title>
    <link rel="stylesheet" href="/styles/create.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a href="all-meal-plans"><li>My Meal Plans</li></a>
          <a href="/"><li>Logout</li></a>
        </ul>
      </nav>
    </header>
    <section class="create__container">
      <form onsubmit="submitForm()" id="myForm">
        <h1>Create Meal Plan</h1>
        
        <h3>Select your diet:</h3>
        <section class="create__form-options" id="preferenceList"></section>

        <h3>Select any intolerances/allergens:</h3>
        <section class="create__form-options" id="intoleranceList"></section>

        <button type="submit" class="create__button">Generate Meal Plan</button>
        <!-- TO DO: add validation using JS to ensure that the user chooses at least one checkbox 
        https://html.form.guide/checkbox/html-form-checkbox-required/
         -->
         </ul>
      </form>
      <script>

        // Populate intolerances is called in populatePreferences because of timing
        populatePreferences();

        async function sendGenerateMealPlanRequest(preference, intolerances) { 
          //Get the values from the HTML

          try { 
            const config = { headers: { 'Content-Type': 'application/json' } };
            
            let pref = { "preference" : preference }
            const saveDiet = await axios.post('/api/v1/addPreference', pref, config);

            let intols = []
            for(let i=0;i<intolerances.length;i++){
              intols = JSON.stringify({intolerance: intolerances[i]})
              const saveIntolerance = await axios.post('/api/v1/addIntolerance', intols, config);
            }
            
            const plan = JSON.stringify({targetCalories:'2000', diet:pref, excludeItem:intols});
            console.log(plan);
            const response = await axios.post('/api/v1/generateMealPlan', plan, config); 
            console.log(response);
            
            if(response.data.redirectPath) {
              location.href = response.data.redirectPath;
            }
          } catch (error) { 
            alert(error)
            console.error(error); 
          } 
        };

        async function populatePreferences(){
          const pref = document.getElementById('preferenceList');
          const preferenceList = await axios.get('/api/v1/getAllPreferences');
          let list = "<ul>";
          for(let i=0; i<preferenceList.data.user_preferences.length; i++){
            list += `<li class="checkbox-container"><input class="checkmark" type="radio" name="diet" value="` + preferenceList.data.user_preferences[i][0].value + `">` + preferenceList.data.user_preferences[i][0].value + "</li>";
          }

          list += "</ul>";
          pref.innerHTML = list;

          populateIntolerances()
        };

        async function populateIntolerances(){
          const intol = document.getElementById('intoleranceList');
          const intoleranceList = await axios.get('/api/v1/getAllIntolerances');
          let list = "<ul>";
          for(let i=0; i<intoleranceList.data.user_intolerances.length; i++){
            list += `<li class="checkbox-container"><input class="checkmark" type="checkbox" name="allergens" value="` + intoleranceList.data.user_intolerances[i][0].value + `">` + intoleranceList.data.user_intolerances[i][0].value + "</li>";
          }

          list += "</ul>";
          intol.innerHTML = list;
        };

        function submitForm(){
          console.log("Submitting form")
          const form = document.getElementById('myForm');
          const errorContainer = document.getElementById('errorContainer');

          // Prevent form submission

          // Check if at least one radio button is selected
          const radioButtons = document.getElementsByName('diet');
          console.log(radioButtons);
          let selectedRadioButtonValue = '';
          let isRadioButtonSelected = false;
          for (let i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
              selectedRadioButtonValue = radioButtons[i].value;
              isRadioButtonSelected = true;
              break;
            }
          }

          // Check if at least one checkbox is selected
          const checkboxes = document.querySelectorAll('input[type="checkbox"]');
          let selectedCheckboxValues = [];          
          let isCheckboxSelected = false;
          for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
              selectedCheckboxValues.push(checkboxes[i].value);
              isCheckboxSelected = true;
            }
          }

          if (isRadioButtonSelected && isCheckboxSelected) {
            sendGenerateMealPlanRequest(selectedRadioButtonValue, selectedCheckboxValues)
          } else {
            // Show validation error message
            errorContainer.style.display = 'block';
          }
        }
      </script>
    </section>
  </body>
</html>
