<html>
  <head>
    <title>Weekly Meal Plan</title>
    <link rel="stylesheet" href="/styles/meal-plan.css" />
    <!-- <link rel="stylesheet" href="/styles/create.css" /> -->
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a><li>My Meal Plans</li></a>
          <a><li>Logout</li></a>
          <!-- TO DO: Add navigation to the right pages -->
        </ul>
      </nav>
    </header>
    <section class="container">
      <section>
        <h1>Your meal plan:</h1>
      </section>
      <section class="mealplan">
        <h1>Monday</h1>
        <section id="meal-table--monday"></section>
      </section>
      <section class="mealplan">
        <h1>Tuesday</h1>
        <section id="meal-table--tuesday"></section>
      </section>
      <section class="mealplan">
        <h1>Wednesday</h1>
        <section id="meal-table--wednesday"></section>
      </section>
      <section class="mealplan">
        <h1>Thursday</h1>
        <section id="meal-table--thursday"></section>
      </section>
      <section class="mealplan">
        <h1>Friday</h1>
        <section id="meal-table--friday"></section>
      </section>
      <section class="mealplan">
        <h1>Saturday</h1>
        <section id="meal-table--saturday"></section>
      </section>
      <section class="mealplan">
        <h1>Sunday</h1>
        <section id="meal-table--sunday"></section>
      </section>
    </section>
    <script type="application/json" onload="renderMealPlan();" src="../utils/renderMealPlan.js" ></script>
    <!-- <script>renderMealPlan()</script> -->
  </body>
</html>
